<% provide :title, 'Контакты' %>

<h1>Контакты</h1>
<div class="center">
<p>Мы расположены по адресу  г. Серпухов ул. Ворошилова дом 57, 2 этаж, 210 зал</p>
<p>Телефон для записи:<br>
8926-994-89-50<br>
8906-765-26-82<br>
8925-449-12-56</p>
<%= image_tag("visit_us.png", alt: "заходите к нам") %>
</div>