<div class="center hero-unit">
	<h1>One Step</h1>
	<h2>Dance studio</h2>
</div>
<aside>
	<%= image_tag("logo.png", alt: "One Step", align: 'left', style: 'padding:10px;') %>

	<p class="fourtabs">	Мы рады приветствовать Вас в Танцевальном центре «One Step». Если Вы зашли на нашу страничку , то Вы действительно хотите научиться танцевать, и мы готовы Вам в этом помогать. Мы предлагаем Вам заниматься танцами в нашем зале, в группе или индивидуально, в паре или соло, танцевать на корпоративных вечерах.</p>
	<p class="fourtabs">	Сомнения? Комплексы? Стеснительность? Мы, как и вы, прекрасно знаем, что это такое. А еще мы знаем, что каждый может научиться танцевать и получать от этого настоящее удовольствие!</p>
	<p class="fourtabs">	Обучение танцам в нашей школе подарит Вам:
	<ul class="homelist">
		<li>Яркие эмоции, которые Вы внесете в череду монотонных будней!</li>
		<li>Минимум час в неделю, который Вы посвящаете исключительно себе и собственному творческому развитию!</li>
		<li>Новые интересные знакомства!</li>
		<li>Отличное самочувствие, высокую работоспособность и позитивный настрой!</li>
		<li>Отличный способ выделиться – Вы будете уметь то, о чем многие только мечтают!</li>
		<li>Высокую самооценку!</li>
		<li>Возможность наконец-то посвятить себя тому хобби, о котором Вы возможно мечтали всю свою жизнь.</li>
		<li>А для детей – это дополнительная гарантия гармоничного развития и умения общаться!</li>
	</ul>
	</p>
	<div class="center"><h3>Мы всегда Вам Рады!!</h3></div>
</aside>