<div class="center hero-unit">

<h1>One Step</h1>
<h2>This is the home page for One Step site</h2>
<% if signed_in? %>
<% else %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
<% end %>
</div>
<%= link_to image_tag("logo.png", alt: "One Step"), root_path %>