<% provide(:title, 'Цены') %>

<h1>Наши цены</h1>
<ul class="list">
	<h3><li>Стоимость 8 занятий в студии 1300 рублей.</li></h3>
	<h3><li>Первый час занятий бесплатно - попробуйте стили и выберите Ваш!</li></h3>
	<h3><li>Стоимость индивидуального занятия 700 рублей в час</li></h3>
	<h3><li>Вы так же можете оплачивать занятия поурочно. Стоимость одного часа занятий 250 рублей.</li></h3>
</ul>


