#encoding: utf-8
<% provide(:title, 'Расписание')%>

<h1>Расписание</h1>
<table border="2" cellpadding="4">
	<tr bgcolor="#cccccc">
		<td bgcolor="#808080">&nbsp;</td>
		<td>Понедельник</td>
		<td>Вторник</td>
		<td>Среда</td>
		<td>Четверг</td>
		<td>Пятница</td>
		<td>Суббота</td>
		<td>Воскресение</td>
	</tr>
	<tr>
		<td nowrap>15.00-16.00</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Йога</td>
		<td></td>
	</tr>
	<tr bgcolor="#cccccc">
		<td>16.00-17.00</td>
		<td>Брейк-данс 1 гр.</td>
		<td>Брейк-данс 1 гр.</td>
		<td nowrap>Брейк-данс 1 гр.</td>
		<td></td>
		<td></td>
		<td>Йога</td>
		<td></td>
	</tr>
	<tr>
		<td>17.00-18.00</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Йога</td>
		<td></td>
	</tr>
	<tr bgcolor="#cccccc">
		<td>18.00-19.00</td>
		<td></td>
		<td nowrap>Детские совр.танцы</td>
		<td></td>
		<td></td>
		<td nowrap>Детские совр.танцы</td>
		<td nowrap>Хип-хоп 2 гр.</td>
		<td></td>
	</tr>
	<tr>
		<td>19.00-20.00</td>
		<td>Стрип-пластика</td>
		<td>Танц.аэробика</td>
		<td nowrap>Стрип-пластика</td>
		<td>Брейк-данс 2гр.</td>
		<td>Танц.аэробика</td>
		<td></td>
		<td>Латина</td>
	</tr>
	<tr bgcolor="#cccccc">
		<td>20.00-21.00</td>
		<td>Хип-хоп 1гр.</td>
		<td>Ragga Dancehall</td>
		<td>Хип-хоп 1гр.</td>
		<td>Ragga Dancehall</td>
		<td>Хип-хоп 1гр.</td>
		<td></td>
		<td>Латина</td>
	</tr>
	<tr>
		<td>21.00-22.00</td>
		<td nowrap>Восточные танцы</td>
		<td>Брейк-данс 2гр.</td>
		<td></td>
		<td nowrap>Восточные танцы</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>