<footer class="footer">
  <small>
    <a href="http://tigeriss.livejournal.com/">Tigeriss &copy;</a>
    by Tigeriss
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>